.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    color: #015249;
}

.title {
    text-align: center;
}

.containers {
    background: #CDEBDE;
    text-align: center;
    padding: 20px;
    margin: 20px auto 0; 
    max-width: 50%; 
    border-radius: 15px; 
    width: 100%; 
}


@media screen and (min-width: 768px) {
    .containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


.paragraphs p {
    font-size: 16px; 
    line-height: 1.5; 
    text-align: justify; 
}

.paragraphs strong {
    color: #007F5F; 
    font-weight: bold; 
}


.paragraphs span {
    color: #28A745;
    font-style: italic; 
}

